doctype
html(lang='ru')
  -
    const title = 'Главная'
  include pug-part/head
  body
    include pug-part/header
    main.page
      .container
          h1 My name is Sukhrob
          h2 This is my gulp package for layout

          img( src="@img/cover.jpg" alt="Sukhrob avatar" width="150px")

    include pug-part/footer
    script(src='js/app.min.js')