header
    img.svg-test-svg1-dims(src="img/icons/icons.svg#test-svg1" alt="test-svg1" width="30" height="30")
    img.svg-test-svg1-dims(src="img/icons/icons.svg#test-svg2" alt="test-svg2" width="30" height="30")
